{% extends 'admin.html' %}
{% load crispy_forms_filters %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 class="text-center display-4">Update Student Details</h1>
        </div>
        <div class="col-md-8">

            <form method="POST" action="#" enctype="multipart/form-data" >
                {% csrf_token %}
                {{ feedback_form|crispy }}



                <input type="submit" class="btn btn-dark btn-block" value="Update"/>
            </form>
        </div>
    </div>
</div>
{% endblock %}