{% extends "admin.html" %}

{% load crispy_forms_filters %}
{% block content %}
<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>dob</th>
        <th>Gender</th>
        <th>Address</th>
        <th>Reg_No</th>
        <th>Department</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Photo</th>
        <th>update</th>
        <th>delete</th>
    </tr>
    {% for x in data %}
    <tr>
        <td>{{ x.name }}</td>
        <td>{{ x.dob }}</td>
        <td>{{ x.gender }}</td>
        <td>{{ x.address }}</td>
        <td>{{ x.reg_no }}</td>
        <td>{{ x.department }}</td>
        <td>{{ x.phone }}</td>
        <td>{{ x.email }}</td>
        <td><img src="{{ x.photo.url }}"/></td>


        <td>
            <form method="POST" action="{% url 'update1' x.id %}">
                {% csrf_token %}
                {{reg_form|crispy}}
                {{stud_form|crispy}}
            <input type="submit" class="btn btn-danger" value="Update" />
            </form>
        </td>

        <td>
             <form action="{% url 'delt' x.id %}" method="POST" >
                                {% csrf_token %}
                <input type="submit" class="btn btn-danger" value="Delete" />

             </form>
        </td>
    </td>



    </tr>
    {% endfor %}
</table>
         {% endblock %}
